<div class="row">
  <div class="large-4 columns offset3">
    <div class="pull right">
      <strong><p>Brought to you by<a href="http://www.jurgenssmit.com"> Jurgens Smit</a></p></strong>
    </div>
  <div class="pull right">
  <h1> Github score calculator</h1>
    <p class="lead">Calculate and compare your Github score, using the Github API. Your score is based on your activity. Get busy!
    </p>
  <br>
  <br>
  <form  action="/users" method="post" >
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="large-10 columns">
            <input id='username' name='username' placeholder="Enter your username." type='text'>
        </div>
      <div class="large-2 columns">
        <button class='button expand postfix' type='submit'>Calculate!</button>
      </div>
    </div>
  </form>

<p class="more-about">
  ​<a href="#" class="show_hide">Would you like to know more?</a>
  <div class="productDescription">
    <p>Write something interesting. <br/>
    <br>when 'CreateEvent' then 5<br/>
    when 'PushEvent' then 15<br/>
    when 'WatchEvent' then 1<br/>
    <a href="#" class="show_hide">Hide</a>
  </p>
  </div>
</div>


