

<div class="row">
  <div class="large-4 columns offset3">

<div class="pull right">
 <strong><p>Brought to you by<a href="http://www.jurgenssmit.com"> Jurgens Smit</a></p></strong>
</div>
<div class="pull right">
						<h1> Github score calculator</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
</p>
<br>
<br>

    <div class="large-12 columns">
      <div class="row collapse">
        <div class="large-10 columns">
          <input type="text" placeholder="Enter your username">
        </div>
        <div class="large-2 columns">
          <a href="#" class="button prefix">Calculate!</a>
 </div>


	<p class="more-about">
      				<a href="about" id="more">Would you like to know more?</a>
          


	</div>
</div>