<div class="row">
  <div class="large-4 columns offset3">
    <div class="pull right">
      <strong><p>Brought to you by<a href="http://www.jurgenssmit.com"> Jurgens Smit</a></p></strong>
    </div>
  <div class="pull right">
  <h1> Github score calculator</h1>
    <p class="lead">Calculate and compare your Github score by using the Github API. Your score is based on your activity, get busy!
    </p>
  <br>
<div id="update-container">
</div>
<br>
</br>
<div class="large-12 columns">
  <div class="row collapse">
    <div class="large-10 columns">
      <%= form_tag users_path, :remote => true,:'data-update-target' => 'update-container' do |f| %>
      <%= text_field_tag  :username, nil, :placeholder => 'Enter your Github username..', :autofocus=>true%>
    </div>
    <div class="large-2 columns">
      <%= button_tag(type: 'submit', class: "button expand postfix") do %>
      <i class="icon-ok icon-white"></i> Calculate
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<p class="more-about">
  <a id="displayText" href="javascript:toggle();">Would you like to know more?</a></a>
  <div id="toggleText" style="display: none">
    <p>Smithub was created using the Github API to generate a score based on the events feed. <br/>
    <br> <strong>+1 </strong>For every watched repository<br/>
    <strong>+10  </strong>Each created repository, branch, or tag.<br/>
    <strong>+15 </strong>Any git push to a Repository.<br/>
  </div>
</p>